html, body {
    width: 100%;
    display: block;
    overflow-x: hidden;
    &.lock{
        @include breakpoint($medium){
            overflow: hidden;
        }
    }
}

body{
    -webkit-font-smoothing: antialiased;
}


html {
    font-weight: normal;
    font-family: $font-main;
    font-size: $browser-context+px;
    color: $default-body-text-color;
    line-height: line-height($browser-context, $browser-line-height);
}

a {
    text-decoration: none;
    color: $default-body-link-color;
}

.is-link {

    &:hover {
        text-decoration: underline;
    }
}

p{
    font-size: em(22);
    line-height: line-height(22, 30);
    @include breakpoint($medium){
        font-size: em(17);
        line-height: line-height(17, 23);
    }
}

h1, h2, h3{
    color: $sub-color;
}

h3{
    font-size:em(30);
    line-height: line-height(30,41);
    @extend .font-main-500;
    @include breakpoint($medium){
        font-size: em(20);
        line-height: line-height(20, 27);
    }
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
select,
textarea {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius:0;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

figure{
    margin:0;
}