@include font-face(AvenirLTStd-Light);
@include font-face(AvenirLTStd-Medium);
@include font-face(AvenirLTStd-Black);

.font-main{ font-family:'AvenirLTStd-Light';}
.font-main-500{ font-family:'AvenirLTStd-Medium';}
.font-main-900{ font-family:'AvenirLTStd-Black';}

//########################################
//## FONT VARIABLES ######################
//########################################

$font-main: 'AvenirLTStd-Light';
$font-main-arabic: 'AAvenirLTStd-Light';

//########################################
//## SIZES ###############################
//########################################

$browser-context: 16; // px
$browser-line-height: 25; // px


