@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.eot?1");
  src: url("../fonts/AvenirLTStd-Light.eot?1#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Light.woff?1") format("woff"), url("../fonts/AvenirLTStd-Light.svg?1#wf") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.eot?1");
  src: url("../fonts/AvenirLTStd-Medium.eot?1#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Medium.woff?1") format("woff"), url("../fonts/AvenirLTStd-Medium.svg?1#wf") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.eot?1");
  src: url("../fonts/AvenirLTStd-Black.eot?1#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Black.woff?1") format("woff"), url("../fonts/AvenirLTStd-Black.svg?1#wf") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

.font-main {
  font-family: 'AvenirLTStd-Light'; }

.font-main-500, h3, .btn, .footer__credits {
  font-family: 'AvenirLTStd-Medium'; }

.font-main-900, .header__nav-list-item a {
  font-family: 'AvenirLTStd-Black'; }

/* normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0; }

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* BASE */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background-color: #000000;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background-color: #000000;
  color: #ffffff;
  text-shadow: none; }

::-webkit-selection {
  background-color: #000000;
  color: #ffffff;
  text-shadow: none; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

/* Basic Typography */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: normal; }

h1, .h1 {
  font-size: 3.6em; }

h2, .h2 {
  font-size: 3.1em; }

h3, .h3 {
  font-size: 2.6em; }

h4, .h4 {
  font-size: 2.35em; }

h5, .h5 {
  font-size: 1.85em; }

h6, .h6 {
  font-size: 1em; }

small, .small {
  font-size: 0.7em; }

a.link {
  text-decoration: none; }

a.link:hover {
  text-decoration: underline; }

p {
  margin: 0 0 15px 0; }

hr {
  border-bottom: 1px solid #333333;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
  clear: both; }

ul.list-inline, ol.list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.list-inline li, ol.list-inline li {
  display: inline-block; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

abbr, acronym {
  cursor: help; }

tt, code {
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier", monospace;
  font-size: 0.75em; }

pre {
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier", monospace;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  margin-bottom: 12px;
  white-space: nowrap;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Media elements */
img, picture, video, audio, embed, object, input, iframe {
  max-width: 100%;
  margin: 0; }

img {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

img[src*=".svg"] {
  width: 100% \9; }

a:hover img {
  border: none;
  background: none; }

x::-ms-reveal, img[src*=".svg"] {
  width: 100%; }

a img {
  border: none; }

/* Button Module */
button, .button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  border: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap; }

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

button {
  background-image: none; }

button:focus, button:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

button.button-disabled, button[disabled] {
  cursor: not-allowed;
  opacity: 0.65; }

/* Header module */
/* Form Module */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea, select {
  padding: 6px 10px;
  -webkit-box-shadow: none;
  box-shadow: none; }

textarea, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  resize: none;
  height: auto;
  min-height: 50px; }

.table {
  width: 100%;
  margin-bottom: 15px; }

.table th, .table td {
  border-bottom: .1rem solid #e1e1e1;
  padding: 10px 20px;
  text-align: left; }

.table th:first-child, .table td:first-child {
  padding-left: 0; }

.table th:last-child, .table td:last-child {
  padding-right: 0; }

/* General layout */
section {
  width: 100%;
  display: block;
  position: relative; }

section:before, section:after {
  content: " ";
  display: table; }

section:after {
  clear: both; }

.inner-container {
  width: 100%; }

.inner-container:before, .inner-container:after {
  content: " ";
  display: table; }

.inner-container:after {
  clear: both; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase; }

.full-width {
  width: 100%; }

.spacing {
  padding: 15px 0; }

/* PRINT STYLES */
@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  img {
    max-width: 100% !important;
    page-break-inside: avoid; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

html, body {
  width: 100%;
  display: block;
  overflow-x: hidden; }
  @media (max-width: 800px) {
    html.lock, body.lock {
      overflow: hidden; } }

body {
  -webkit-font-smoothing: antialiased; }

html {
  font-weight: normal;
  font-family: "AvenirLTStd-Light";
  font-size: 16px;
  color: rgba(49, 55, 64, 0.6);
  line-height: 1.5625; }

a {
  text-decoration: none;
  color: rgba(49, 55, 64, 0.6); }

.is-link:hover {
  text-decoration: underline; }

p {
  font-size: 1.375em;
  line-height: 1.36364; }
  @media (max-width: 800px) {
    p {
      font-size: 1.0625em;
      line-height: 1.35294; } }

h1, h2, h3 {
  color: #313740; }

h3 {
  font-size: 1.875em;
  line-height: 1.36667; }
  @media (max-width: 800px) {
    h3 {
      font-size: 1.25em;
      line-height: 1.35; } }

* {
  -webkit-tap-highlight-color: transparent; }

input,
select,
textarea {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

figure {
  margin: 0; }

.btn {
  text-align: center;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  font-size: 1.25em;
  min-width: 170px;
  border-radius: 20px;
  display: inline-block;
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  color: #2672D5;
  padding: 6px 10px;
  font-size: 1.125em; }
  .btn:focus, .btn:active {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1); }
  .btn--center {
    display: table;
    margin: 0 auto; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  .container:after {
    clear: both;
    display: table;
    content: ''; }
  @media (max-width: 800px) {
    .container {
      padding: 0 25px; } }

* {
  outline: none !important; }

@media (max-width: 480px) {
  .hide-on-mobile {
    display: none !important; } }

.media__wrapper {
  position: relative;
  overflow: hidden;
  margin: 0; }
  .media__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.inner {
  clear: both;
  width: 100%;
  float: left; }
  .inner:after {
    content: " ";
    display: block;
    clear: both; }

.main-padding {
  padding: 0 4.02%; }
  @media (max-width: 800px) {
    .main-padding {
      padding: 0 15px; } }

.wpcf7-not-valid-tip {
  display: none; }

.wpcf7-list-item {
  margin: 0 !important;
  display: inherit !important; }

div.wpcf7-validation-errors {
  border: 0 !important;
  margin: 0;
  padding: 0; }

div.wpcf7-mail-sent-ok {
  border: 0 !important; }

.clear:after {
  display: table;
  content: '';
  clear: both; }

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.gradient-background {
  background: #0d5fcb;
  background: -webkit-linear-gradient(left, #0d5fcb 0%, #5d9cec 46%, #00e5ee 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0d5fcb), color-stop(46%, #5d9cec), to(#00e5ee));
  background: -o-linear-gradient(left, #0d5fcb 0%, #5d9cec 46%, #00e5ee 100%);
  background: linear-gradient(to right, #0d5fcb 0%, #5d9cec 46%, #00e5ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5fcb', endColorstr='#00e5ee',GradientType=1 ); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding-top: 35px; }
  @media (max-width: 480px) {
    .header {
      padding-top: 15px; } }
  @media (max-width: 480px) {
    .header .container {
      padding-right: 10px; } }
  .header__logo {
    float: left; }
    @media (max-width: 480px) {
      .header__logo {
        margin-top: 15px; } }
    .header__logo img {
      width: 118px; }
      @media (max-width: 800px) {
        .header__logo img {
          width: 83px; } }
  .header__nav {
    float: right;
    margin-top: 2px; }
    @media (max-width: 800px) {
      .header__nav {
        margin-top: 0; } }
    @media (max-width: 480px) {
      .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        overflow: auto;
        z-index: 999;
        margin: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        will-change: transform,opacity;
        background: #ffffff;
        height: 100vh;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-box-shadow: -9px 0 20px 0 rgba(0, 0, 0, 0.09);
        box-shadow: -9px 0 20px 0 rgba(0, 0, 0, 0.09); }
        .header__nav.is-active {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateX(20%);
          -ms-transform: translateX(20%);
          transform: translateX(20%); } }
  @media (max-width: 480px) {
    .header__nav-list {
      width: 100%;
      float: left;
      margin-top: 15px; } }
  .header__nav-list-item {
    display: block;
    float: left;
    padding: 0 15px;
    position: relative; }
    .header__nav-list-item:last-child {
      padding-right: 0; }
    .header__nav-list-item.is-active {
      padding-bottom: 15px; }
      @media (max-width: 480px) {
        .header__nav-list-item.is-active {
          padding-bottom: 0; } }
      .header__nav-list-item.is-active a {
        color: #ffffff !important;
        opacity: 1; }
    @media (max-width: 1100px) {
      .header__nav-list-item {
        padding: 0 20px; } }
    @media (max-width: 800px) {
      .header__nav-list-item {
        padding: 0 9px; } }
    @media (max-width: 480px) {
      .header__nav-list-item {
        display: block;
        float: none;
        padding: 0; } }
    .header__nav-list-item a {
      text-transform: uppercase;
      color: #ffffff;
      padding: 2px 0;
      -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      font-size: 0.875em;
      line-height: 1.14286;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      @media (max-width: 800px) {
        .header__nav-list-item a {
          font-size: 0.75em; } }
      @media (max-width: 480px) {
        .header__nav-list-item a {
          display: block;
          padding: 20px 40px;
          color: #000000;
          font-size: 0.875em; } }
      .header__nav-list-item a:hover {
        opacity: 0.75; }
  .header__menu-trigger-wrapper {
    float: right;
    padding: 15px;
    margin-top: 6px;
    display: none;
    cursor: pointer; }
    .header__menu-trigger-wrapper:after {
      display: table;
      clear: both;
      content: ''; }
    @media (max-width: 480px) {
      .header__menu-trigger-wrapper {
        display: block; } }
    .header__menu-trigger-wrapper.is-active {
      height: 24px; }
      .header__menu-trigger-wrapper.is-active i {
        height: 2px; }
        .header__menu-trigger-wrapper.is-active i:nth-of-type(1), .header__menu-trigger-wrapper.is-active i:nth-of-type(4) {
          opacity: 0; }
        .header__menu-trigger-wrapper.is-active i:nth-of-type(2) {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          width: 100%; }
        .header__menu-trigger-wrapper.is-active i:nth-of-type(3) {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          width: 100%; }
  .header__menu-trigger {
    width: 18px;
    height: 12px;
    position: relative;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 1; }
    @media (max-width: 1100px) {
      .header__menu-trigger {
        display: block; } }
    .header__menu-trigger i {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #ffffff;
      opacity: 1;
      right: 0;
      border-radius: 2px;
      transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s; }
      .header__menu-trigger i:nth-of-type(1) {
        top: 0; }
      .header__menu-trigger i:nth-of-type(2), .header__menu-trigger i:nth-of-type(3) {
        top: 5px; }
      .header__menu-trigger i:nth-of-type(4) {
        top: 10px; }
  .header__menu-close-wrapper {
    float: right;
    padding: 15px;
    margin: 25px 22.2% 0 0;
    display: none;
    cursor: pointer; }
    @media (max-width: 480px) {
      .header__menu-close-wrapper {
        display: block; } }
  .header__close-trigger {
    width: 18px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 1; }
    @media (max-width: 480px) {
      .header__close-trigger {
        display: block; } }
    .header__close-trigger i {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #999999;
      right: 0; }
      .header__close-trigger i:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 100%; }
      .header__close-trigger i:nth-of-type(2) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 100%; }

.footer {
  padding: 27px 0 23px; }
  @media (max-width: 800px) {
    .footer {
      padding: 28px 0 24px; } }
  .footer__credits {
    color: #ffffff;
    text-align: center;
    font-size: 0.9375em;
    line-height: 1.33333;
    margin: 0; }
    @media (max-width: 800px) {
      .footer__credits {
        font-size: 0.875em;
        line-height: 1.35714; } }

.downloads {
  margin: 23px 0 0; }
  .downloads li {
    float: left;
    margin-right: 20px; }
    .downloads li:last-child {
      margin-right: 0; }
    @media (max-width: 480px) {
      .downloads li {
        margin-right: 16px; } }
    .downloads li a {
      display: block; }
    .downloads li img {
      max-width: 126px; }
      @media (max-width: 480px) {
        .downloads li img {
          max-width: 115px; } }

/*@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/user-interface";*/
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right; }
  .chosen-container.chosen-container-active:before {
    width: 100%; }
  .chosen-container .chosen-drop {
    left: 0;
    top: 100%;
    opacity: 0;
    z-index: 99;
    width: 100%;
    display: block;
    margin-top: 0;
    position: absolute;
    visibility: hidden;
    letter-spacing: 2.5px;
    border-radius: 10px;
    font-size: 17px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 6px 0 13px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 6px 0 13px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    background-color: #fff;
    border: solid 1px #d9d9d9;
    overflow: hidden; }
  .chosen-container.chosen-with-drop .chosen-drop {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px); }
  .chosen-container a {
    cursor: pointer; }
  .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999; }
    .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
      content: ":";
      padding-left: 2px;
      vertical-align: top; }

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  z-index: 5;
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  padding: 0px 36px 0px 20px;
  height: 40px;
  text-decoration: none;
  font-size: 1em;
  color: #003842;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  border-radius: 10px; }

.chosen-container-single .chosen-default {
  color: #999; }

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 1px;
  line-height: normal;
  padding: 11px 0 0; }

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: image-url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }
  .chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px; }

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%; }
  .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: image-url("chosen-sprite.png") no-repeat 0px 2px; }

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }
  .chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: #fff image-url("chosen-sprite.png") no-repeat 100% -20px;
    /*@include background($chosen-sprite no-repeat 100% -20px);*/
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0; }

.chosen-container-single .chosen-drop {
  margin-top: 0;
  background-clip: padding-box; }

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px; }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #4a4a4a;
  font-size: 0.875em;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 280px;
  -webkit-overflow-scrolling: touch; }
  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 7px 20px;
    list-style: none;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .chosen-container .chosen-results li:last-child {
      border: 0; }
    .chosen-container .chosen-results li.active-result {
      display: list-item;
      cursor: pointer; }
    .chosen-container .chosen-results li.disabled-result {
      display: list-item;
      color: #ccc;
      cursor: default;
      display: none !important; }
    .chosen-container .chosen-results li.highlighted {
      background-color: #f7f7f7;
      /*@include background-image(linear-gradient(#3875d7 20%, #2a62bc 90%));*/
      color: #003842; }
    .chosen-container .chosen-results li.no-results {
      color: #777;
      display: list-item;
      background: #f4f4f4; }
    .chosen-container .chosen-results li.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default; }
    .chosen-container .chosen-results li.group-option {
      padding-left: 15px; }
    .chosen-container .chosen-results li em {
      font-style: normal;
      text-decoration: underline; }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  /*@include background-image(linear-gradient(#eee 1%, #fff 15%));*/
  cursor: text; }

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }
  .chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap; }
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
      margin: 1px 0;
      padding: 0;
      height: 25px;
      outline: 0;
      border: 0 !important;
      background: transparent !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #999;
      font-size: 100%;
      font-family: sans-serif;
      line-height: normal;
      border-radius: 0; }
  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    /*@include background-image(linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%));*/
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default; }
    .chosen-container-multi .chosen-choices li.search-choice span {
      word-wrap: break-word; }
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      position: absolute;
      top: 4px;
      right: 3px;
      display: block;
      width: 12px;
      height: 12px;
      background: image-url("chosen-sprite.png") -42px 1px no-repeat;
      font-size: 1px; }
      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
        background-position: -42px -10px; }
  .chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    /*@include background-image(linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%));*/
    color: #666; }
  .chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4; }
    .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
      background-position: -42px -10px; }

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent; }
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px; }

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default; }
  .chosen-disabled .chosen-single {
    cursor: default; }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }
  .chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0; }
  .chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl; }
  .chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px; }
  .chosen-rtl .chosen-single div {
    right: auto;
    left: 3px; }
  .chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px; }
  .chosen-rtl .chosen-choices li {
    float: right; }
    .chosen-rtl .chosen-choices li.search-field input[type="text"] {
      direction: rtl; }
    .chosen-rtl .chosen-choices li.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px; }
      .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
        right: auto;
        left: 4px; }
  .chosen-rtl.chosen-container-single-nosearch .chosen-search,
  .chosen-rtl .chosen-drop {
    left: 9999px; }
  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0; }
  .chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0; }
  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none; }
  .chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: #fff image-url("chosen-sprite.png") no-repeat -30px -20px;
    /*@include background($chosen-sprite no-repeat -30px -20px);*/
    direction: rtl; }
  .chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px; }
  .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: $chosen-sprite-retina !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}*/
/* @end */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: inline; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 85px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  z-index: 2;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #ffffff;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1240px) {
    .slick-arrow {
      display: none !important; } }
  .slick-arrow div {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .slick-arrow svg {
    fill: #000000;
    width: 70px;
    height: 70px; }
  .slick-arrow.slick-prev {
    left: -55px; }
  .slick-arrow.slick-next {
    right: -55px; }

.slick-dots {
  bottom: 6.7%;
  list-style: none;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 2;
  bottom: -4px; }
  @media (max-width: 1240px) {
    .slick-dots {
      bottom: -9px; } }
  @media (max-width: 800px) {
    .slick-dots {
      bottom: -16px; } }
  .slick-dots li {
    cursor: pointer;
    display: inline-block;
    margin: 0 7px;
    position: relative; }
    @media (max-width: 800px) {
      .slick-dots li {
        margin: 0 5px; } }
    .slick-dots li.slick-active button {
      opacity: 1; }
    .slick-dots li button {
      display: block;
      border-radius: 50%;
      font-size: 0;
      width: 12px;
      height: 12px;
      padding: 0;
      -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      background-color: #167CDB;
      opacity: 0.3; }
      @media (max-width: 800px) {
        .slick-dots li button {
          width: 8px;
          height: 8px; } }
      .slick-dots li button:hover {
        opacity: 1; }

.home {
  position: relative;
  padding-bottom:80%; }
  @media (max-width: 1240px) {
    .home {
      padding-bottom: 0;
      height: 600px; } }
  @media (max-width: 800px) {
    .home {
      height: 500px; } }
  @media (max-width: 480px) {
    .home {
      height: 400px; } }
  .home__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    padding-bottom: 12.7%; }
    @media (max-width: 1600px) {
      .home__wrapper {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end; } }
    @media (max-width: 800px) {
      .home__wrapper {
        padding: 55px 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .home h1 {
    font-size: 2.0625em;
    line-height: 1.36364;
    color: #ffffff;
    text-align: center;
    width: 83.33333%;
    max-width: 840px;
    margin: 25px auto 23px; }
    @media (max-width: 800px) {
      .home h1 {
        font-size: 1.375em;
        line-height: 1.36364;
        margin: 0 auto 23px; } }
    @media (max-width: 480px) {
      .home h1 {
        max-width: 235px; } }
  .home__scroll-cta {
    margin: 60px 0 10px; }
    @media (max-width: 800px) {
      .home__scroll-cta {
        display: none; } }
    .home__scroll-cta .icon {
      width: 21px;
      height: 34px;
      background-image: url("../ui/icon-scroll.svg"); }
  @media (max-width: 800px) {
    .home .btn {
      min-width: 140px;
      font-size: 1em;
      padding: 6px 10px 4px; } }

.info {
  background: url("../images/geometric-background.png") 0 0 repeat-x;
  background-size: 100% 100%;
  margin-bottom: 125px; }
  @media (max-width: 1100px) {
    .info {
      margin-bottom: 100px; } }
  @media (max-width: 800px) {
    .info {
      margin-bottom: 10px;
      background-size: auto; } }
  .info__carousel {
    margin: -12.7% 0 102px; }
    @media (max-width: 800px) {
      .info__carousel {
        margin: -55px 0 44px; } }
  .info__carousel-item {
    position: relative;
    padding-bottom: 33.3%; }
    @media (max-width: 800px) {
      .info__carousel-item {
        padding-bottom: 53.3%; } }
    @media (max-width: 480px) {
      .info__carousel-item {
        padding-bottom: 49.1%; } }
  .info__carousel-image-wrapper {
    position: absolute; }
    .info__carousel-image-wrapper .image {
      position: relative; }
    .info__carousel-image-wrapper--1a {
      width: 55.56%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1; }
      @media (max-width: 800px) {
        .info__carousel-image-wrapper--1a {
          width: 92%; } }
      @media (max-width: 480px) {
        .info__carousel-image-wrapper--1a {
          width: 85%; } }
      .info__carousel-image-wrapper--1a .image {
        padding-bottom: 57.50%; }
    .info__carousel-image-wrapper--1b {
      width: 34%;
      top: 50.6%;
      left: 5%; }
      @media (max-width: 800px) {
        .info__carousel-image-wrapper--1b {
          display: none; } }
      .info__carousel-image-wrapper--1b .image {
        padding-bottom: 42.59%; }
    .info__carousel-image-wrapper--1c {
      width: 34%;
      left: 60.9%;
      top: 11.4%; }
      @media (max-width: 800px) {
        .info__carousel-image-wrapper--1c {
          display: none; } }
      .info__carousel-image-wrapper--1c .image {
        padding-bottom: 42.59%; }
  .info__item {
    text-align: center;
    width: 28.88889%;
    float: left; }
    .info__item:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .info__item:nth-child(3n + 2) {
      margin-left: 35.55556%;
      margin-right: -100%;
      clear: none; }
    .info__item:nth-child(3n + 3) {
      margin-left: 71.11111%;
      margin-right: -100%;
      clear: none; }
    @media (max-width: 800px) {
      .info__item {
        width: 100%;
        float: none;
        margin: 0 0 50px !important; } }
    .info__item img {
      height: 100px; }
    .info__item--nurse img {
      max-width: 92px; }
      @media (max-width: 1100px) {
        .info__item--nurse img {
          max-width: 82px; } }
    .info__item--care img {
      max-width: 116px; }
      @media (max-width: 1100px) {
        .info__item--care img {
          max-width: 105px; } }
    .info__item--special img {
      max-width: 77px; }
      @media (max-width: 1100px) {
        .info__item--special img {
          max-width: 70px; } }
    .info__item h2 {
      font-size: 1.375em;
      line-height: 1.36364;
      margin: 27px 0 15px; }
      @media (max-width: 1100px) {
        .info__item h2 {
          font-size: 1.25em;
          line-height: 1.35;
          margin: 16px auto 10px; } }
      @media (max-width: 800px) {
        .info__item h2 {
          max-width: 400px; } }
    .info__item p {
      font-size: 1.25em;
      line-height: 1.35; }
      @media (max-width: 1100px) {
        .info__item p {
          font-size: 1.0625em;
          line-height: 1.35294; } }
      @media (max-width: 800px) {
        .info__item p {
          max-width: 400px;
          margin: 0 auto; } }

.info-details {
  border-bottom: 1px solid #EBEBEB; }
  @media (max-width: 800px) {
    .info-details {
      border-bottom: 0; } }
  @media (max-width: 800px) {
    .info-details .container {
      padding: 0; } }
  .info-details--nurse img {
    max-width: 418px; }
    @media (max-width: 1100px) {
      .info-details--nurse img {
        max-width: 348px; } }
    @media (max-width: 480px) {
      .info-details--nurse img {
        max-width: 100%; } }
  .info-details--care {
    padding: 86px 14% 0 0; }
    @media (max-width: 1100px) {
      .info-details--care {
        padding: 60px 50px 0 0; } }
    @media (max-width: 800px) {
      .info-details--care {
        padding: 60px 0 0 0; } }
    .info-details--care .info-details__image {
      width: 58.6%;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-right: 5.3%;
      padding-left: 7%; }
      .info-details--care .info-details__image img {
        width: 100%; }
      @media (max-width: 800px) {
        .info-details--care .info-details__image {
          padding: 0;
          width: 100%;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .info-details--care .info-details__image img {
            max-width: 420px;
            width: 100%; } }
    .info-details--care .info-details__text {
      width: 38.9%;
      padding: 40px 0 0 4%; }
      @media (max-width: 800px) {
        .info-details--care .info-details__text {
          width: 100%;
          padding: 30px 25px 0; } }
    @media (max-width: 800px) {
      .info-details--care .info-details__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .info-details--special {
    padding: 90px 0 75px;
    background: url("../images/geometric-background-bottom.png") 0 bottom repeat-x #fff;
    border-bottom: 0; }
    @media (max-width: 480px) {
      .info-details--special {
        padding: 40px 0 35px; } }
    @media (max-width: 800px) {
      .info-details--special .info-details__text {
        border-top: 0;
        padding-top: 10%; } }
    @media (max-width: 480px) {
      .info-details--special .info-details__text {
        padding-top: 15%; } }
  .info-details__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 800px) {
      .info-details__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }
  .info-details__text {
    width: 48.74%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 3.4% 0 3.7%;
    position: relative;
    z-index: 1; }
    @media (max-width: 800px) {
      .info-details__text {
        width: 100%;
        border-top: 1px solid #EBEBEB;
        padding: 30px 25px 0; } }
    .info-details__text h3 {
      margin-bottom: 34px; }
      @media (max-width: 1240px) {
        .info-details__text h3 {
          font-size: 1.625em;
          line-height: 1.23077;
          margin-bottom: 25px; } }
      @media (max-width: 1100px) {
        .info-details__text h3 {
          font-size: 1.25em;
          line-height: 1.35;
          margin-bottom: 15px; } }
    @media (max-width: 1240px) {
      .info-details__text p {
        font-size: 1.1875em;
        line-height: 1.31579; } }
    @media (max-width: 1100px) {
      .info-details__text p {
        font-size: 1.0625em;
        line-height: 1.35294; } }
    .info-details__text .downloads {
      margin-top: 38px; }
      @media (max-width: 800px) {
        .info-details__text .downloads {
          margin-top: 20px; } }
  .info-details__image {
    width: 51.25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative; }
    @media (max-width: 800px) {
      .info-details__image {
        width: 100%;
        padding: 0 25px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .info-details__image img {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      position: relative;
      z-index: 1; }
      .info-details__image img.background {
        position: absolute;
        z-index: 0;
        right: 0; }
        @media (max-width: 800px) {
          .info-details__image img.background {
            -webkit-transform: translate(0) !important;
            -ms-transform: translate(0) !important;
            transform: translate(0) !important; } }
        .info-details__image img.background--nurse {
          right: 7%;
          bottom: -15.7%;
          max-width: 120%; }
          @media (max-width: 1100px) {
            .info-details__image img.background--nurse {
              right: -4%; } }
          @media (max-width: 800px) {
            .info-details__image img.background--nurse {
              right: auto;
              width: 560px; } }
          @media (max-width: 480px) {
            .info-details__image img.background--nurse {
              bottom: -3.7%; } }
        .info-details__image img.background--care {
          bottom: -104px;
          left: -7%;
          right: auto;
          max-width: 120%;
          width: 1200px; }
          @media (max-width: 800px) {
            .info-details__image img.background--care {
              bottom: -15%;
              left: auto;
              max-width: 660px;
              width: 100%; } }
          @media (max-width: 480px) {
            .info-details__image img.background--care {
              bottom: -16%;
              left: auto;
              width: 550px; } }
    .info-details__image--center img {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; }

.about-us {
  text-align: center;
  padding: 76px 0 92px; }
  @media (max-width: 800px) {
    .about-us {
      padding: 30px 0 37px; } }
  .about-us h3 {
    margin-bottom: 50px;
    color: #ffffff; }
    @media (max-width: 800px) {
      .about-us h3 {
        margin-bottom: 28px; } }
  .about-us p {
    max-width: 950px;
    margin: 0 auto;
    color: #ffffff; }

.video_wrapper {
  height: 564px;	
  width: 80%;
  margin: 1em auto;	
  border-radius: 8px;	
  background-color: #EAEAEA;	
  box-shadow: 0 6px 18px 0 rgba(0,0,0,0.19);
  overflow:hidden;
  
}

.video_wrapper iframe {
   width: 100%;
   height: 100%;
}
  @media (max-width: 1450px) {
    .video_wrapper {
      margin-top: 100px;
      width: 90%;
      height: 564px;
    }
  }
  @media (max-width: 1250px) {
    .home {
      height: 1000px;
    }
  }
  @media (max-width: 1059px) {
    .video_wrapper iframe {
      width: 100%;
      height: 100%;
    }
    .video_wrapper {
      width: 90%;
      height: 460px;
    }
  }
  @media (max-width: 800px) {
    .video_wrapper iframe {
      width: 100%;
      height: 100%;
    }
    .video_wrapper {
      margin-top: -100px;
      width: 90%;
      height: 300px;
    }
    .home {
      height: 800px;
    }
  }


.contact {
  padding: 45px 0 32px; }
  @media (max-width: 800px) {
    .contact {
      padding: 34px 0 17px; } }
  .contact__form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
  .contact__input-field {
    margin-bottom: 17px; }
    .contact__input-field label {
      display: block;
      color: #313740;
      opacity: 0.8; }
    .contact__input-field input[type=email], .contact__input-field input[type=text], .contact__input-field textarea {
      border-width: 0 0 1px;
      border-color: #ACB3B9;
      border-style: solid;
      padding: 0;
      height: 36px;
      width: 100%;
      -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      .contact__input-field input[type=email]:focus, .contact__input-field input[type=text]:focus, .contact__input-field textarea:focus {
        border-color: #2672D5; }
    .contact__input-field textarea {
      height: 130px; }
    .contact__input-field--bottom-space {
      margin-bottom: 42px; }

/*# sourceMappingURL=style.css.map */
