.btn {
    text-align:center;
    transition: $t-hover;
    cursor:pointer;
    font-size: em(20);
    min-width: 170px;
    border-radius:20px;
    display: inline-block;
    background-color:$white;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1);
    color: $main-color;
    padding: 6px 10px;
    font-size: em(18);
    @extend .font-main-500;


    &:focus, &:active{
        box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1);
    }


    &:hover{

    }

    &--center{
        display: table;
        margin: 0 auto;
    }
}


