.downloads{
    margin: 23px 0 0;
    li{
        float: left;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        @include breakpoint($small){
            margin-right: 16px
        }
        a{
            display: block;
        }
        img{
            max-width: 126px;
            @include breakpoint($small){
                max-width: 115px;
            }
        }
    }
}


