.footer{
  padding: 27px 0 23px;
  @include breakpoint($medium){
    padding: 28px 0 24px;
  }
  &__credits{
    color: $white;
    text-align: center;
    font-size: em(15);
    line-height: line-height(15,20);
    @extend .font-main-500;
    margin: 0;
    @include breakpoint($medium){
      font-size: em(14);
      line-height: line-height(14,19);
    }
  }
}