.header{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding-top:35px;
  @include breakpoint($small) {
    padding-top: 15px;
  }

  .container{
    @include breakpoint($small) {
      padding-right: 10px;
    }
  }

  &__logo{
    float: left;
    @include breakpoint($small){
      margin-top: 15px;
    }
    img{
      width: 118px;
      @include breakpoint($medium){
        width: 83px;
      }
    }
  }

  &__nav{
    float: right;
    margin-top: 2px;
    @include breakpoint($medium){
      margin-top: 0;
    }
    @include breakpoint($small) {
      position: fixed;
      top:0;
      right: 0;
      width: 100%;
      overflow: auto;
      z-index: 999;
      margin: 0;
      visibility: hidden;
      opacity:0;
      transition: $t-slide;
      will-change: transform,opacity;
      background: $white;
      height: 100vh;
      transform: translateX(100%);
      box-shadow: -9px 0 20px 0 rgba(0,0,0,0.09);
      &.is-active{
        opacity: 1;
        visibility: visible;
        transform: translateX(20%);
      }
    }
  }

  &__nav-list{
    @include breakpoint($small) {
      width: 100%;
      float: left;
      margin-top: 15px;
    }
  }

  &__nav-list-item{
    display: block;
    float: left;
    padding: 0 15px;
    position: relative;

    &:last-child{
      padding-right: 0;
    }
    &.is-active{
      padding-bottom: 15px;
      @include breakpoint($small){
        padding-bottom: 0;
      }
      a{
        color: $white !important;
        opacity: 1;
      }
    }
    @include breakpoint($xmedium){
      padding: 0 20px;
    }
    @include breakpoint($medium) {
      padding: 0 9px;
    }
    @include breakpoint($small) {
      display: block;
      float: none;
      padding: 0;
    }

    a{
      text-transform: uppercase;
      color: $white;
      padding: 2px 0;
      transition: $t-hover;
      font-size: em(14);
      line-height: line-height(14,16);
      @extend .font-main-900;
      transition: $t-hover;
      @include breakpoint($medium) {
        font-size: em(12);
      }
      @include breakpoint($small) {
        display: block;
        padding: 20px 40px;
        color: $black;
        font-size: em(14);
      }
      &:hover{
        opacity: 0.75;
      }
    }

  }

  &__menu-trigger-wrapper {
    float:right;
    padding: 15px;
    margin-top: 6px;
    display: none;
    cursor: pointer;
    &:after{
      display: table;
      clear: both;
      content: '';
    }
    @include breakpoint($small) {
      display: block;
    }

    &.is-active{
      height:24px;
      i{
        height: 2px;
        &:nth-of-type(1), &:nth-of-type(4){
          opacity:0;
        }

        &:nth-of-type(2) {
          transform: rotate(45deg);
          width:100%;
        }

        &:nth-of-type(3) {
          transform: rotate(-45deg);
          width:100%;
        }
      }
    }

  }

  &__menu-trigger {
    width: 18px;
    height: 12px;
    position: relative;
    cursor: pointer;
    display:none;
    position: relative;
    z-index:1;

    @include breakpoint($xmedium) {
      display: block;
    }
    i {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $white;
      opacity: 1;
      right: 0;
      border-radius:2px;
      @include transition(all,0.3s,0s,2);

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2), &:nth-of-type(3) {
        top: 5px;
      }

      &:nth-of-type(4) {
        top: 10px;
      }
    }
  }

  &__menu-close-wrapper {
    float: right;
    padding: 15px;
    margin: 25px 22.2% 0 0;
    display: none;
    cursor: pointer;
    @include breakpoint($small) {
      display: block;
    }
  }

  &__close-trigger {
    width: 18px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display:none;
    position: relative;
    z-index:1;
    @include breakpoint($small) {
      display: block;
    }
    i{
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #999999;
      right: 0;
      &:nth-of-type(1) {
        transform: rotate(45deg);
        width:100%;
      }

      &:nth-of-type(2) {
        transform: rotate(-45deg);
        width:100%;
      }
    }
  }
}