
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.container{
  @include container(1200px);
  padding: 0 50px;
  &:after{
    clear:both;
    display:table;
    content:'';
  }
  @include breakpoint($medium){
    padding: 0 25px;
  }
}

* {
  outline: none !important;
}

.hide-on-mobile {
  @include breakpoint($small){
    display: none !important;
  }
}

.media__wrapper{
  position:relative;
  overflow:hidden;
  margin:0;
  img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.inner{
  @include full();
  @include susy-clearfix;
}

.main-padding{
  padding: 0 4.02%;
  @include breakpoint($medium) {
    padding: 0 15px;
  }
}

.wpcf7-not-valid-tip{
  display:none;
}

.wpcf7-list-item {
  margin: 0 !important;
  display: inherit !important;
}

div.wpcf7-validation-errors {
  border:0 !important;
  margin: 0;
  padding: 0;
}

div.wpcf7-mail-sent-ok{
  border: 0 !important;
}

.clear{
  &:after{
    display: table;
    content: '';
    clear: both;
  }
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gradient-background{
  background: rgb(13,95,203);
  background: -moz-linear-gradient(left, rgba(13,95,203,1) 0%, rgba(93,156,236,1) 46%, rgba(0,229,238,1) 100%);
  background: -webkit-linear-gradient(left, rgba(13,95,203,1) 0%,rgba(93,156,236,1) 46%,rgba(0,229,238,1) 100%);
  background: linear-gradient(to right, rgba(13,95,203,1) 0%,rgba(93,156,236,1) 46%,rgba(0,229,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d5fcb', endColorstr='#00e5ee',GradientType=1 );
}


