.home{
    position: relative;
    padding-bottom: 48.61%;
    @include breakpoint($large) {
        padding-bottom: 0;
        height: 600px;
    }
    @include breakpoint($medium) {
        height: 500px;
    }
    @include breakpoint($small) {
        height: 400px;
    }
    &__wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        padding-bottom: 12.7%;
        @include breakpoint($xlarge) {
            justify-content: flex-end;
        }

        @include breakpoint($medium) {
            padding: 55px 0;
            justify-content: center;
        }
    }
    h1{
        font-size: em(33);
        line-height: line-height(33, 45);
        color: $white;
        text-align: center;
        width: span(10);
        max-width: 840px;
        margin: 25px auto 23px;
        @include breakpoint($medium){
            font-size: em(22);
            line-height:line-height(22, 30);
            margin: 0 auto 23px;
        }
        @include breakpoint($small){
            max-width: 235px;
        }
    }
    &__scroll-cta{
        margin: 60px 0 10px;
        @include breakpoint($medium){
            display: none;
        }
        .icon{
            width: 21px;
            height: 34px;
            background-image: url("../ui/icon-scroll.svg");
        }
    }
    .btn{
        @include breakpoint($medium){
            min-width: 140px;
            font-size: em(16);
            padding: 6px 10px 4px;
        }
    }
}

.info{
    background: url("../images/geometric-background.png") 0 0 repeat-x;
    background-size: 100% 100%;
    margin-bottom: 125px;
    @include breakpoint($xmedium){
        margin-bottom: 100px;
    }
    @include breakpoint($medium){
        margin-bottom: 10px;
        background-size: auto;
    }
    &__carousel{
        margin: -12.7% 0 102px;
        @include breakpoint($medium){
            margin: -55px 0 44px;
        }
    }
    &__carousel-item{
        position: relative;
        padding-bottom: 33.3%;
        @include breakpoint($medium){
            padding-bottom: 53.3%;
        }
        @include breakpoint($small){
            padding-bottom: 49.1%;
        }
    }
    &__carousel-image-wrapper{
        position: absolute;
        .image{
            position: relative;
        }
        &--1a{
            width: 55.56%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            @include breakpoint($medium){
                width: 92%;
                //left: 0;
                //transform: translateX(0);
            }
            @include breakpoint($small){
                width: 85%;
            }
            .image{
                padding-bottom: 57.50%;
            }
        }
        &--1b{
            width: 34%;
            top: 50.6%;
            left: 5%;
            @include breakpoint($medium){
                display: none;
            }
            .image{
                padding-bottom: 42.59%;
            }
        }
        &--1c{
            width: 34%;
            left: 60.9%;
            top: 11.4%;
            @include breakpoint($medium){
                display: none;
            }
            .image{
                padding-bottom: 42.59%;
            }
        }
    }
    &__item{
        text-align: center;
        @include gallery(4 of (gutters: 30px/10px) after);
        @include breakpoint($medium){
            width: 100%;
            float: none;
            margin: 0 0 50px !important;
        }
        img{
            height:100px;
        }
        &--nurse {
            img {
                max-width: 92px;
                @include breakpoint($xmedium){
                    max-width: 82px;
                }
            }
        }
        &--care{
            img{
                max-width: 116px;
                @include breakpoint($xmedium){
                    max-width: 105px;
                }
            }
        }
        &--special{
            img{
                max-width: 77px;
                @include breakpoint($xmedium){
                    max-width: 70px;
                }
            }
        }
        h2{
            font-size:em(22);
            line-height: line-height(22,30);
            margin: 27px 0 15px;
            @include breakpoint($xmedium){
                font-size:em(20);
                line-height: line-height(20,27);
                margin: 16px auto 10px;
            }
            @include breakpoint($medium){
                max-width: 400px;
            }
        }
        p{
            font-size: em(20);
            line-height: line-height(20, 27);
            @include breakpoint($xmedium){
                font-size:em(17);
                line-height: line-height(17,23);
            }
            @include breakpoint($medium){
                max-width: 400px;
                margin: 0 auto;
            }

        }
    }
}

.info-details{
    border-bottom: 1px solid #EBEBEB;
    @include breakpoint($medium){
        border-bottom: 0;
    }
    .container{
        @include breakpoint($medium){
            padding: 0;
        }
    }
    &--nurse{
        img{
            max-width: 418px;
            @include breakpoint($xmedium){
                max-width: 348px;
            }
            @include breakpoint($small){
                max-width: 100%;
            }
        }
    }
    &--care{
        padding: 86px 14% 0 0;
        @include breakpoint($xmedium){
            padding: 60px 50px 0 0;
        }
        @include breakpoint($medium){
            padding: 60px 0 0 0;
        }

        .info-details__image{
            width: 58.6%;
            justify-content: flex-start;
            padding-right: 5.3%;
            padding-left: 7%;
            img{
                width: 100%;
            }
            @include breakpoint($medium){
                padding: 0;
                width: 100%;
                justify-content: center;
                img{
                    max-width: 420px;
                    width: 100%;
                }
            }
        }
        .info-details__text{
            width:38.9%;
            padding: 40px 0 0 4%;
            @include breakpoint($medium){
                width: 100%;
                padding:30px 25px 0;
            }
        }
        .info-details__inner{
            @include breakpoint($medium){
                flex-direction: column;
            }
        }
    }

    &--special{
        padding: 90px 0 75px;
        background: url("../images/geometric-background-bottom.png") 0 bottom repeat-x #fff;
        border-bottom: 0;
        @include breakpoint($small){
            padding: 40px 0 35px;
        }
        .info-details__text{
            @include breakpoint($medium){
               border-top: 0;
                padding-top: 10%;
            }
            @include breakpoint($small){
                padding-top: 15%;
            }

        }
    }

    &__inner{
        display: flex;
        @include breakpoint($medium){
            flex-direction: column-reverse;
        }
    }
    &__text{
        width: 48.74%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 3.4% 0 3.7%;
        position: relative;
        z-index: 1;
        @include breakpoint($medium){
            width: 100%;
            border-top: 1px solid #EBEBEB;
            padding:30px 25px 0;
        }
        h3{
            margin-bottom: 34px;
            @include breakpoint($large){
                font-size: em(26);
                line-height: line-height(26, 32);
                margin-bottom: 25px;
            }
            @include breakpoint($xmedium){
                font-size: em(20);
                line-height: line-height(20, 27);
                margin-bottom: 15px;
            }
        }
        p{
            @include breakpoint($large){
                font-size: em(19);
                line-height: line-height(19, 25);
            }
            @include breakpoint($xmedium){
                font-size: em(17);
                line-height: line-height(17, 23);
            }
        }
        .downloads{
            margin-top: 38px;
            @include breakpoint($medium){
               margin-top: 20px;
            }
        }
    }
    &__image{
        width: 51.25%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        @include breakpoint($medium){
            width: 100%;
            padding: 0 25px;
            justify-content: center;
        }
        img{
            align-self: flex-end;
            position: relative;
            z-index: 1;
            &.background{
                position: absolute;
                z-index: 0;
                right:0;
                @include breakpoint($medium){
                    transform: translate(0) !important;
                }
                &--nurse{
                    right: 7%;
                    bottom: -15.7%;
                    max-width: 120%;
                    @include breakpoint($xmedium){
                        right: -4%;
                    }
                    @include breakpoint($medium){
                        right: auto;
                        width: 560px;
                    }
                    @include breakpoint($small){
                        bottom: -3.7%;
                    }
                }
                &--care{
                    bottom: -104px;
                    left: -7%;
                    right: auto;
                    max-width: 120%;
                    width: 1200px;
                    @include breakpoint($medium){
                        bottom: -15%;
                        left: auto;
                        max-width: 660px;
                        width: 100%
                    }
                    @include breakpoint($small){
                        bottom: -16%;
                        left: auto;
                        width: 550px;
                    }

                }
            }
        }
        &--center{
            img{
                align-self: center;
            }
        }
    }
}

.about-us{
    text-align: center;
    padding: 76px 0 92px;
    @include breakpoint($medium){
        padding: 30px 0 37px;
    }
    h3{
        margin-bottom: 50px;
        color: $white;
        @include breakpoint($medium){
            margin-bottom: 28px;
        }
    }
    p{
        max-width: 950px;
        margin: 0 auto;
        color: $white;
    }
}

.contact{
    padding: 45px 0 32px;
    @include breakpoint($medium){
        padding: 34px 0 17px;
    }
    &__form{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    &__input-field {
        margin-bottom: 17px;
        label{
            display: block;
            color: #313740;
            opacity: 0.8;
        }
        input[type=email], input[type=text], textarea{
            border-width: 0 0 1px;
            border-color: #ACB3B9;
            border-style: solid;
            padding: 0;
            height: 36px;
            width: 100%;
            transition: $t-hover;
            &:focus{
                border-color: $main-color;
            }
        }
        textarea{
            height: 130px;
        }
        &--bottom-space{
            margin-bottom: 42px;
        }
    }
}





