.slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 85px;
    transform: translateY(-50%);
    padding:0;
    z-index:2;
    transition: $t-hover;
    color: $white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    @include breakpoint($large){
        display: none !important;
    }
    div{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    svg{
        fill:$black;
        width: 70px;
        height: 70px;
    }
    &.slick-prev{
        left:-55px;
    }
    &.slick-next{
        right:-55px;
    }
}

.slick-dots {
    bottom: 6.7%;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    text-align:center;
    z-index:2;
    bottom: -4px;
    //@include breakpoint($xlarge){
    //    bottom: 6%;
    //}
    @include breakpoint($large){
        bottom: -9px;
    }
    //@include breakpoint($xmedium){
    //    bottom: 4%;
    //}
    @include breakpoint($medium){
        bottom: -16px;
    }
    //@include breakpoint($small){
    //    bottom: 8%;
    //}
    li{
        cursor: pointer;
        display: inline-block;
        margin: 0 7px;
        position: relative;
        @include breakpoint($medium){
            margin: 0 5px;
        }
        &.slick-active{
            button{
                opacity: 1;
            }
        }
        button{
            display: block;
            border-radius: 50%;
            font-size: 0;
            width: 12px;
            height: 12px;
            padding:0;
            transition: $t-hover;
            background-color: #167CDB;
            opacity: 0.3;
            @include breakpoint($medium){
                width: 8px;
                height: 8px;
            }
            &:hover{
               opacity: 1;
            }
        }
    }
}